.itemImage {
    min-width: 10rem;
    max-width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    text-align: center;
    margin-right: 1rem;
    display: flex;
}

.itemInfo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.itemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemTitle {
    margin-right: 1rem;
    color: #1e1e1e;
}

.itemExtra {
    color: #9c9c9c;
}

.itemDescription {
    text-align: justify;
}
