.scroller {
    overflow: auto;
}

.list {
    height: 100%;
    overflow: auto;
    position: relative;
}

.item {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}
