.list {
    height: 100%;
    padding: 1rem;
    overflow: auto;
}

.item {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 1px solid whitesmoke;
}

.itemImage {
    min-width: 10rem;
    max-width: 10rem;
    height: 10rem;
    border-radius: 0.25rem;
    background-color: whitesmoke;
    text-align: center;
    margin-right: 1rem;
}

.itemInfo {
    width: 60%;
    width: 100%;
    padding: 0.5rem 0;
}

.itemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.itemTitle {
    margin-right: 1rem;
    color: #1e1e1e;
}

.itemExtra {
    color: #9c9c9c;
}

.itemDescription {
    text-align: justify;
}
